@import 'themeColors';

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  font-family: verdana;
  margin: 20px;

  h1 {
    color: $color-header;
    text-align: left;
  }

  h2 {
    color: $color-section-header;
  }

  p {
    font-size: 20px;
  }

  ol,
  ul {
    padding-left: 30px;
  }
}

.nav {
  margin: 20px 0;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 10px 0;
      display: inline-block;
      padding-right: 20px;

      a {
        color: $color-header;
        text-decoration: none;
        padding: 10px 0;
      }
      a:hover, .selected {
        // font-weight: bold; /* if tab in English, this will make the tab flicky when hover; for some reason Chinese is ok*/
        border-bottom-style: solid;
        border-bottom-width: medium;
      }
    }
  }
}


.board-row {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.status {
  margin-bottom: 10px;
}

.square {
  background: $color-background;
  border: 1px solid $color-border;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;

  &:focus {
    outline: none;
  }
}

.kbd-navigation {
  .square {
    &:focus {
      background: $color-focus;
    }
  }
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.section-reference {
  margin-bottom: 20px;
  a {
    color: $color-border;
  }
}

.split-panel {
  display: flex;
  background-color: #107baf;
  padding: 15px;
  min-height: 20vh; /* 20% Viewport height */

  .left-panel {
    width: 200px;  /* Set the fixed width here */
    background-color: #e28743;
    min-height: 50px;
  }
  .right-panel {
    flex-grow: 1;  /* Grow to take up remaining space */
    background-color: #eab676;
    min-height: 50px;
  }
}